.banner-img-1{
    background: url(./jimmy-nilsson-masth-UovTD1dG-lA-unsplash.jpg) center/cover no-repeat;
    width: 100%;
}
.banner-img-2{
    background: url(./valery-sysoev-ZUJ_9U3Dwzg-unsplash.jpg) center/cover no-repeat;
    width: 100%;
}
.banner-img-3{
    background: url(./pexels-tima-miroshnichenko-5846117.jpg) center/cover no-repeat;
    width: 100%;
}